[submodule "third-party/xblog"]
	path = third-party/xblog
	url = git@github.com:xavi-b/xblog.git
    branch = master
    ignore = all

[submodule "third-party/xbwidgets"]
	path = third-party/xbwidgets
	url = git@github.com:xavi-b/xbwidgets.git
    branch = master
    ignore = all
