[submodule "third-party/xblog"]
	path = third-party/xblog
	url = git@github.com:xavi-b/xblog.git
	branch = master

[submodule "third-party/QtFreeVirtualKeyboard"]
	path = third-party/QtFreeVirtualKeyboard
	url = git@github.com:xavi-b/QtFreeVirtualKeyboard.git
	branch = master
